<div class="outer-container">
  <div class="image-section">
    <app-carousel [slides]="images"></app-carousel>
  </div>
  <div class="text-section">
    <h1 class="header-text">In Thrust We Trust</h1>
    <!-- <p class="body-text">
      Welcome to Aerotantrix, the soaring heartbeat of NIE's aeromodelling
      excellence. As the proud aeromodelling club of NIE, we are a dynamic bunch
      of aerospace enthusiasts drawn from diverse branches of our college. At
      Aerotantrix, we transform textbook theories into tangible wonders,
      crafting awe-inspiring flying machines that embody the spirit of
      innovation. Our passion knows no bounds as we delve into the realms of RC
      Aircraft, drones, rocketry, and satellites, exploring the limitless
      possibilities of the aerospace domain. Beyond the confines of our campus,
      we actively engage in prestigious competitions hosted by industry leaders,
      showcasing our skills and pushing the boundaries of aeronautical prowess.
      Aerotantrix is not merely a club; it is a vibrant community where the
      fervor for flight unites us in the pursuit of excellence and the thrill of
      pushing aeromodelling boundaries. Join us as we elevate our passion to new
      heights and redefine the skies together!
    </p> -->
    <p class="body-text">
      Welcome to Aerotantrix, the soaring heartbeat of NIE's aeromodelling
      excellence. As the proud aeromodelling club of NIE, we are a dynamic bunch
      of aerospace enthusiasts drawn from diverse branches of our college. Our
      passion knows no bounds as we delve into the realms of RC Aircraft,
      drones, rocketry, and satellites, exploring the limitless possibilities of
      the aerospace domain. Join us as we elevate our passion to new heights and
      redefine the skies together!
    </p>
  </div>
</div>
