@import url("https://fonts.googleapis.com/css2?family=Montserrat");

* {
  font-family: "Montserrat", sans-serif;
  background-color: #05142b;
  color: #ffffff;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.outer-container {
  height: 100%;
  padding: 1rem;
}
